/* .slogan {
   position:relative;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  text-align:left;
  margin :30;
  padding:10;
 
}
.slogan h1 {
  font-family: font-serif;
  line-height: 1.3;
  font-size: 80px;
  color:black;
  position: cover;
  animation: text 3s ease;
}
.text2 {
  background-color:black;
  font-family: font-serif;
}
@keyframes text {
  10% {
    color: rgb(222, 230, 238);
  }
  50% {
    letter-spacing: 10px;
  }
  50% {
    letter-spacing: 10px;
  }
}
.hero {
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 100vh;
  background-color: #eee;
  display: block;
  
}
.slogan Button {
  color: #44575b;
  font-size: 24px;
  float: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 30px;
  padding: 20px 90px;
  text-decoration: none;
} */ 

.slogan.container {
  margin-top: 100px;
}

.slogan h1 {
  line-height: 1.2;
  font-size: 80px;
  color: black;
  position: relative;
  animation: text 3s ease;
}

@keyframes text {
  0% {
    color: rgb(222, 230, 238);
  }
  30% {
    letter-spacing: 10px;
  }
  100% {
    letter-spacing: 0px;
  }
}

.hero{
  height: 100vh;
  margin-bottom: 160px;
}

.HashTo{
  z-index: -1;
  position: absolute;
  margin-top: -120px;
}


#callto{
  border: none;
  box-shadow: 1px 1px 7px -1px rgba(0, 0, 0, 0.15);
  text-align: center;
}

@media (min-width:999px){
  .slogan h1 {
  line-height: 1.2;
  font-size: 80px;
  color: black;
  position: relative;
  animation: text 3s ease;
  }
}

@media (max-width: 991.98px){
  
  .hero{
    height:80vh;
  }
  .intro-img{
   visibility: hidden;
  }
  @keyframes text {
  0% {
    color: rgb(222, 230, 238);
  }
  30% {
    letter-spacing: 1px;
  }
  100% {
    letter-spacing: 0px;
  }
}
}

@media (max-width: 768.98px){
  .hero{
    height:60vh;
  }
  .slogan h1 {
  line-height: 1.2;
  font-size: 56px;
  color: black;
  position: relative;
  animation: text 3s ease;
  }

}