.slogan h1 {
  line-height: 1.2;
  font-size: 80px;
  color: black;
  position: relative;
  animation: text 3s ease;
}

@keyframes text {
  0% {
    color: rgb(222, 230, 238);
  }
  30% {
    letter-spacing: 10px;
  }
  100% {
    letter-spacing: 0px;
  }
}
