.Join {
    margin-bottom: 300px;
    text-align: center;
}

.Join h1{
    margin: 230px 0;
}

.Join .space{
    margin: 100px 0;
}


.Join .jumbotron{
    margin-bottom: 150px;
    background-image: url("../../illustrations/undraw_working_from_anywhere_ub67_cropped.svg"),url("../../illustrations/undraw_working_from_anywhere_ub67_tree_flipped.svg");
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: 100% 100%, 0 0;

    /* background:  #e9ecef url("../../illustrations/undraw_working_from_anywhere_ub67_cropped.svg")  100% 100%/700px no-repeat, 
    #e9ecef url("../../illustrations/undraw_working_from_anywhere_ub67_tree_flipped.svg")  0 0/700px no-repeat; */

}


.Join .JobDesc{
    text-align: left;
    margin-bottom: 50px;
}

.flexb{
    display:flex;
    justify-content: space-evenly;
}

.flexb p{
    width: 300px;
}

.flexb .border{
    border:solid rgb(114, 114, 114);
}

.Join button{
    width: 100%;
}

.Join .Email{
    width: 20% !important;
    color: white;
}

.Join .title{
    padding-left: 180px;
}

.Join .title, .categ, .loc{
    text-align: left;
}


.Join .card-header{
    background-repeat: no-repeat;
    background-color:  #e9ecef;
    background-size: 200px;
}

/* .Join .accordion{
    margin-bottom: 200px;
} */

.Join .linktext{
    margin-top: 200px !important;
    width: 60%;
}

@media (max-width: 991.98px){
    .Join .categ{
        padding-left: 180px;
    }
}

