#cart-container {
  margin: 0 auto;
  margin-top: 5%;
  padding: 50px;
  padding-top: 10px;
  padding-bottom: 100px;
}

.cd-cart-head{
  display: flex;
  align-items: center;
}

.cd-cart-head img{
  margin-right: 24px;
}

.cd-cart-list{
  display:flex;
  border-bottom: none;
 
}
.cd-cart-list-items{
  margin-bottom: 10px;
  width: 250px;
}

.cart-banner {
  padding-bottom: 20px;
  border-bottom: 1px solid lightslategray;
  margin-bottom: 10px;
}

.checkout-button {
  margin: 4px;
}

#cd-cart-btn{
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  align-content: center;
}

#cd-cart-count{
  width:32px;
  height: 32px;
}

#cd-price{
  width: 50%;
  margin-left: 25px;
}
 
#item-button-add {
  background-color: #2ba031 !important;
  display: inline;
  align-self: center;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 24px;
  outline: none;
  border: none;
  width: 48px;
  height: auto;
  border-radius: 50%;
}

#item-button-remove {
  background-color: red!important;
  display: inline;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 24px;
  outline: none;
  border: none;
  width: 48px;
  height: auto;
  border-radius: 50%;
}

#cart-length {
  background-color: red;
  border-radius: 50%;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: -5px;
  opacity: 70%;
}