#cart-container {
  margin: 0 auto;
  margin-top: 5%;
  padding: 50px;
  padding-top: 10px;
  padding-bottom: 100px;
}

.cart-banner {
  border-bottom: 1px solid lightslategray;
  margin-bottom: 24px;
}
#cart-h-text{
  width:100%;
}
.cart-banner h2{
  font-weight: 600;
  font-size: 48px;
}

.cart-banner p{
  margin-bottom: 12px;
}
#cart-close{
  font-weight: 600;
  font-size: 24px;

}

.cd-cart-head{
  display: flex;
  align-items: center;
}

.cd-cart-head img{
  margin-right: 24px;
}

.cd-cart-head h3{
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 0px;
  line-height: 1.3;
}

.cd-cart-head p{
  line-height: 1.3;
  margin-bottom: 24px;
}

.cd-cart-list{
  display:flex;
  border-bottom: none;
 
}
.cd-cart-list-items{
  margin-bottom: 10px;
  width: 250px;
}
.checkout-button {
  margin: 4px;
  cursor: not-allowed;
}

#cd-cart-btn{
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  align-content: center;
}

#cd-cart-count{
  width:32px;
  height: 32px;
}

#cd-price{
  width: 50%;
  margin-left: 25px;
}
 
#item-button-add {
  background-color: #2ba031 !important;
  display: inline;
  align-self: center;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 24px;
  outline: none;
  border: none;
  width: 48px;
  height: auto;
  border-radius: 50%;
}

#item-button-remove {
  background-color:#d62347!important;
  display: inline;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 24px;
  outline: none;
  border: none;
  width: 48px;
  height: auto;
  border-radius: 50%;
}

#cart-length {
  background-color: red;
  border-radius: 50%;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: -5px;
  opacity: 70%;
}

.total{
  border-top: 1px solid lightslategray;
  margin-top: 24px;
}


.total h4{
  margin: 0;
  font-weight: 700;
  font-size: 18px;
}

#total-sum{
  display: flex;
  width: 250px;
  align-items: center;
}

#total-sum p{
  margin-left: 12px;
  font-size: 32px;
  margin-bottom:0;
  align-items: flex-end;
}

.check {
  margin: 0 auto;
  margin-top: 150px;
  width: 30%;
}
.checkoutForm {
  margin-top: 20px;

}

.total h4{
  margin: 0;
  font-weight: 700;
  font-size: 18px;
}

.StripeElement {
  border-radius: 5px;
  border: 1px solid #ced4da;
  padding: 10px;
}


#total-sum{
  display: flex;
  width: 250px;
  align-items: center;
}

.items-checkout h3, span{
  margin: 0;
}

#total-sum p{
  margin-left: 12px;
  font-size: 32px;
  margin-bottom:0;
  align-items: flex-end;
}
#complete {
  margin-top: 10%;
}