<<<<<<< Updated upstream
.check {
    margin: 0 auto;
  margin-top: 50px;
  width: 50%;
  padding: 20px;
}
.checkoutForm {
    width:60%;
  margin-top: 20px;
        border-radius: 15px;
    box-shadow: 1px 1px 7px -1px rgba(0, 0, 0, 0.15);
    padding: 20px;
}

.checkoutForm h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.cartCheckout {
    float: right;
    margin-top: 50px;
          border-radius: 15px;
    box-shadow: 1px 1px 7px -1px rgba(0, 0, 0, 0.15);
    padding: 20px;
    
}

#checkout-header {
    margin-top: 150px;
    text-align: center;
    
}
=======
.check h3 {
 box-sizing: border-box;
 width: 100%;
 margin-top: 5%;
 border:5px none;
 border-radius: 5px;
 box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
 background-color: white;
}

.check{
background-color: #f1f2f6;
background-image: linear-gradient(315deg, #f1f2f6 0%, #c9c6c6 74%);

width: 100%;
margin-top: 5%;
background-repeat: no-repeat;
background-position: right;
border: 5px none;
border-radius: 5px;
box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
padding: 20px 20px;
box-sizing: border-box;
margin: 150px auto 30px;
position: relative;
}
.Note span {

 width: 80%;
 margin-top: 0 auto;
 background-repeat: no-repeat;
 background-position: center;
 
}
.checkoutForm {
background-color: #f1f2f6;
background-image: linear-gradient(315deg, #f1f2f6 0%, #c9c6c6 74%);

width: 100%;
margin-top: 5%;
background-repeat: no-repeat;
background-position: right;
border: 5px none;
border-radius: 5px;
box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
padding: 20px 20px;
box-sizing: border-box;
margin: 150px auto 30px;
position: relative;
}
.div
{
margin-bottom:10px;
width: 40% !important;
}
>>>>>>> Stashed changes
