.Footer{
    margin: 0 auto !important;
    text-align: center;
}



.iconFooter{
    color:darkgray;
    text-align: right;
    margin: 0 10px;
}

.iconFooter:hover {
    -webkit-transform: scale(0.9) translateZ(0);
    transform: scale(0.9) translateZ(0);
}

.iconsFooter{
    text-align: right;
}

.links a{
    color: black;
}

.background{
    background-color: #e9ecef;
}

.FooterTwo{
    margin: 0 auto !important;
}