
.filters {
    text-align: center;
    padding: 20px;
  }
  
  .filters button {
    padding: 10px;
    font-size: 1em;
    height: 40px;
    width: 150px;
    text-align: center;
    border: none;
    background-color: #c7e2cf;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease;
  }
  
  .filters button:hover {
    -webkit-transform: scale(0.9) translateZ(0);
    transform: scale(0.9) translateZ(0);
  }
  
  .filters button:focus {
    outline: none;
  }
  
  .filters #countries {
    padding: 5px;
    margin: 10px;
    width: 200px;
  }
  
  .filters #countries:focus {
    outline: none;
  }
  