
.filters {
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 95%;
    margin: 10px auto;

  }
  
  .filters button {
    padding: 10px;
    width: 18%;
    min-height: 50px !important;
    transition: 0.3s ease;
  }
  
  .filters button:hover {
    -webkit-transform: scale(0.9) translateZ(0);
    transform: scale(0.9) translateZ(0);
  }
  
  
.SelectCountry {
  margin: 20px auto;
  width: 95%;
  height: 50px !important;  
  text-align: center;
  text-align-last:center;
  }

.hide{
  display: none; 
}
  
  