.icons {
  width: 10%;
}

.icon {
  transition: 0.7s ease;
}

.icon:hover {
  cursor: pointer;
  -webkit-transform: scale(0.9) translateZ(0);
  transform: scale(0.9) translateZ(0);
}

.cart-menu {
  overflow: auto;
  margin-top: 95px;
  background: white;
  width: 350px;
  height: 100vh;
  position: fixed;
  right: -75%;
  top: 0;
  transition: 1200ms ease;
}

.cart-menu.active {
  right: 0;
  transition: 800ms ease;
}

.Logo {
  height: 70px;
}

/* .TreeBasket{
  margin: -20px 0 0 -40px;
  z-index: 1;
  position: absolute;
} */

#make-gift-button {
  margin: 10px;
}

#cart-button[bounce='1']{
  animation: bounce 1s 1
}

@keyframes bounce {
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}