.icons {
  width: 7%;
}

.icon {
  transition: 0.7s ease;
}

.icon:hover {
  cursor: pointer;
  -webkit-transform: scale(0.9) translateZ(0);
  transform: scale(0.9) translateZ(0);
}

.cart-menu {
  overflow: auto;
  margin-top: 95px;
  background: white;
  width: 350px;
  height: 100vh;
  position: fixed;
  right: -80%;
  top: 0;
  transition: 1200ms ease;
}

.cart-menu.active {
  right: 0;
  transition: 800ms ease;
}

.Logo {
  height: 70px;
}

#search .mr-sm-2{
  margin-right: 10px;
}

.TreeBasket{
  margin: -12px 0 0 -25px;
  z-index: 1;
  position: absolute;
} 

#make-gift-button {
  margin: 10px;
}


 .bounce[bounce='1']{
	-webkit-animation: bounce 2.5s both;
	        animation: bounce 2.5s both;
}

.bounce{
        opacity: 0;
}




 @-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  17% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  24% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  32% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  36% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  42% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  44% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  64% {
        -webkit-transform: rotateX(0);
                transform: rotateX(0);
        -webkit-transform-origin: bottom;
                transform-origin: bottom;
        opacity: 1;
      }
  100% {
        -webkit-transform: rotateX(100deg);
                transform: rotateX(100deg);
        -webkit-transform-origin: bottom;
                transform-origin: bottom;
        opacity: 0;
      }
}
@keyframes bounce {
        0% {
                -webkit-transform: translateY(-500px);
                        transform: translateY(-500px);
                -webkit-animation-timing-function: ease-in;
                        animation-timing-function: ease-in;
                opacity: 0;
              }
              17% {
                -webkit-transform: translateY(0);
                        transform: translateY(0);
                -webkit-animation-timing-function: ease-out;
                        animation-timing-function: ease-out;
                opacity: 1;
              }
              24% {
                -webkit-transform: translateY(-65px);
                        transform: translateY(-65px);
                -webkit-animation-timing-function: ease-in;
                        animation-timing-function: ease-in;
              }
              32% {
                -webkit-transform: translateY(0);
                        transform: translateY(0);
                -webkit-animation-timing-function: ease-out;
                        animation-timing-function: ease-out;
              }
              36% {
                -webkit-transform: translateY(-28px);
                        transform: translateY(-28px);
                -webkit-animation-timing-function: ease-in;
                        animation-timing-function: ease-in;
              }
              40% {
                -webkit-transform: translateY(0);
                        transform: translateY(0);
                -webkit-animation-timing-function: ease-out;
                        animation-timing-function: ease-out;
              }
              42% {
                -webkit-transform: translateY(-8px);
                        transform: translateY(-8px);
                -webkit-animation-timing-function: ease-in;
                        animation-timing-function: ease-in;
              }
              44% {
                -webkit-transform: translateY(0);
                        transform: translateY(0);
                -webkit-animation-timing-function: ease-out;
                        animation-timing-function: ease-out;
              }
              64% {
                    -webkit-transform: rotateX(0);
                            transform: rotateX(0);
                    -webkit-transform-origin: bottom;
                            transform-origin: bottom;
                    opacity: 1;
                  }
              100% {
                    -webkit-transform: rotateX(100deg);
                            transform: rotateX(100deg);
                    -webkit-transform-origin: bottom;
                            transform-origin: bottom;
                    opacity: 0;
                  }
            }