.icons {
  margin: 0 10px 0 30px;
}

.icon {
  transition: 0.7s ease;
}

.icon:hover {
  cursor: pointer;
  -webkit-transform: scale(0.9) translateZ(0);
  transform: scale(0.9) translateZ(0);
}

.cart-menu {
  overflow: auto;
  margin-top: 95px;
  background: rgb(227, 245, 232);
  background: linear-gradient(
    180deg,
    rgba(227, 245, 232, 0.35) 0%,
    rgba(129, 198, 149, 0.7) 100%
  );
  width: 350px;
  height: 100vh;
  position: fixed;
  right: -20%;
  top: 0;
  transition: 1000ms ease;
}

.cart-menu.active {
  right: 0;
  transition: 700ms ease;
}

.Logo {
  height: 70px;
}
