@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$body-bg: #dad7cd;

.App {
    margin-top: 50px;
}
// FONTS 

h1,
h2,
h3,
h4,
h5,
h6,
p{
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 72px;
    font-weight: Semi-bold 600;
    line-height: 1.6;
    text-transform: uppercase;
    margin-bottom: 42px;

}

h2{
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 3px;
}

h3 {
    font-size: 18px;
    margin-bottom: 16px;
}

h4{
    font-size: 48px;
    margin-top: 72px;
    margin-bottom: 48px;
    text-align: center; 
}

h5{
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center; 
}

h6{
    font-size: 48px;
}

p {
    font-weight: 300;
    margin-bottom: 32px;
    line-height: 1.8;
}

.container{
    margin-top: 160px;
    margin-bottom: 160px;
}

.btn-primary {
  background-color: #588157 !important;
  border-color: #588157 !important;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #3a5a40!important;
  border-color:#3a5a40 !important;
}

.svgsize{
    width: 50%;
}